@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.appwrapper {
  display: flex;
  justify-content: center;
}

.dayPickerStyle {
  display: flex;
  justify-content: center;
}

.DayPicker {
  max-width: 1075px;
}

.DayPicker-Month {
  margin-bottom: 40px !important;
}

.DayPicker-Caption > div {
  font-weight: bold;
}

.DayPicker-Caption {
  background-color: #687864;
  padding: 20px;
  color: white;
}

nav {
  margin-bottom: 20px;
  background-color: #182628;
  padding: 25px;
  color: white;
}

footer {
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #feffff;
  font-size: 12px;
}

.royalblue{
  background-color: royalblue !important;
}

.firebrick{
  background-color: firebrick !important;
}

.forestgreen{
  background-color: forestgreen !important;
}

.deeppink{
  background-color: deeppink !important;
}

.sienna{
  background-color: sienna !important;
}

@media (max-width: 1600px) {
  .categories-wrapper {
    width: 520px;
  }
}

@media (max-width: 1100px) {
  .categories-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .appwrapper {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .categories {
    width: 80%;
  }

  .categories-list-wrapper {
    width: 80%;
  }
}

.listhover{
  background-color:green;
  position: absolute;
  opacity:0;
}

/* .listhover:hover {
  background-color:red;
  opacity:1;
} */

.dayhover:hover .listhover{
  background-color:red;
  opacity:1;
}